/* Footer Styles */
#homepage-footer {
    text-align: center;
    padding: 10px;
    background-color: #041b32;
    color: white;
  }
  #homepage-footer .homepage-footer-link {
    color: #ffffff;
    text-decoration: none;
  }
  #homepage-footer .homepage-footer-link:hover {
    color: white;
    text-decoration: underline;
  }
  